	<section class="main-section large-10 columns">
		<h1><%= @title || "Cursos" %></h1>	
		<% if flash[:notice] %>
		<div data-alert class="alert-box success radius large-offset-3 large-5 colums">
		   <p><%= flash[:notice] %></p> 
		</div>
		<% end %>
		<table class="width-100 custom-table responsive">
		  <thead>
		    <tr>
		      <th width="200">Curso</th>
		      <th>Plataforma</th>
		      <th>Horas/semana</th>
		      <th width="150">Fecha de inicio</th>
		      <th width="150">Fecha de fin</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @courses.each do |course| %>
		  	
		    <tr>

		      <td><%= link_to(course.name, course_path(course)) %>
		      	<% if Coursera.where(course_id: course.id) != [] %>
			    <%=image_tag("logos/coursera.jpg", size: "60", alt: "Coursera logo") %>
			  <% end %>
				<ul>
					<% course.tasks.each do |task| %>
						<li><%= task.name %></li>
					<% end %>
				</ul>
		      </td>
		      <td><%= course.platform %></td>
		      <td><%= course.estimated_hours %></td>
		      <td><%= course.start_date %></td>
		      <td><%= course.end_date %></td>
		      <% if @title == "Mis cursos" %>
		      <td><%= link_to("Nueva tarea", new_course_task_path(course), :class => "button radius tiny") %></td>
		      <td><%= link_to("Editar", edit_course_path(course), :class => "button radius tiny") %></td>
		      <td><%= link_to("Borrar", course_path(course), :class => "button radius tiny alert", method: 'delete', data:{confirm: "Estás seguro?"}) %></td>
			  <% end %>
		    </tr>
		    <% end %>
		  </tbody>
		</table>
		


		<%= link_to("Nuevo curso...", new_course_path, :class => "button radius") %>	
	</section>