<div class="large-10 columns">
 

<div class="large-12 colums">
<div class="large-3 medium-6 small-12 columns">
    <div class="stats border">
        <div class="left">
            Cursos
            <h3><%= current_user.courses.size %></h3>
        </div>
        <i class="fi-info right sales"></i>
        <div class="clearfix"></div>
    </div>
</div>

<div class="large-3 medium-6 small-12 columns">
    <div class="stats border">
        <div class="left">
            Tareas
            <h3><%= current_user.all_user_tasks.size %></h3>
        </div>
        <i class="fi-book right sales"></i>
        <div class="clearfix"></div>
    </div>
</div>

<div class="large-3 medium-6 small-12 columns">
    <div class="stats border">
        <div class="left">
            Próxima deadline
            <h3><%= current_user.get_next_deadline %></h3>
        </div>
        <i class="fi-clipboard-pencil right sales"></i>
        <div class="clearfix"></div>
    </div>
</div>

<div class="large-9 columns">
<div id="container" style="width:100%; height:400px;" data-ud = "<%= current_user.id %>"></div>
</div>

<div class="large-9 columns">

<%= link_to("Mis cursos", my_courses_path, :class => "button radius") %>
<%= link_to("Mis cursos en Coursera", user_omniauth_authorize_path(:coursera), :class => "button radius") %>
<!--
<%= link_to("Todos los cursos", all_courses_path, :class => "button radius") %>
-->
</div>

</div>

</div>