<div class="off-canvas-wrap" data-offcanvas>

  <!-- If the contents of the .inner-wrap isn't the main content of the page, use another approripate sectioning element instead -->
  <div class="inner-wrap">
  	<a class="exit-off-canvas"></a>
	
  	<nav class="tab-bar">
	  <div class="middle tab-bar-section"><%= link_to("AMT", root_path) %></div>
	  <section class="right-small">
	  	<i class="right-off-canvas-toggle fi-torso"></i>
	  </section>
	</nav>
	
  	<nav class="right-off-canvas-menu">
  		<ul class="off-canvas-list">
  			<li><label for="">Usuario</label></li>
  			<li><a href="#">Perfil</a></li>
  			<li><a href="#">Mis cursos</a></li>
  			<li><label for="">Estadísticas</label></li>
	  		<li><a href="#">Item 1</a></li>
  		</ul>
  	</nav>

	<%= render "left_nav_bar" %>

	<section class="main-section large-10 columns">
		<h1>Cursos</h1>	

		<table>
		  <thead>
		    <tr>
		      <th width="200">Curso</th>
		      <th>Horas/semana</th>
		      <th width="150">Fecha de inicio</th>
		      <th width="150">Fecha de fin</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @courses.each do |course| %>
		    <tr>
		      <td><%= course.name %></td>
		      <td><%= course.estimated_hours %></td>
		      <td><%= course.start_date %></td>
		      <td><%= course.end_date %></td>
		      <td><%= link_to("Editar", edit_course_path(course), :class => "button radius tiny") %></td>
		      <td><%= link_to("Borrar", course_path(course), :class => "button radius tiny alert", method: 'delete', data:{confirm: "Estás seguro?"}) %></td>

		    </tr>
		    <% end %>
		  </tbody>
		</table>
		
		<% if flash[:notice] %>
		<div data-alert class="alert-box success radius large-5 colums">
		   <p><%= flash[:notice] %></p> 
		</div>
		<% end %>

		<%= link_to("Nuevo curso...", new_course_path, :class => "button radius") %>	
	</section>

  </div>
 
</div>