<div class="large-10 columns">

  <h3><%= @course.name %></h3>
  <% if Coursera.where(course_id: @course.id) != [] %>
    <%=image_tag("logos/coursera.jpg", size: "160", alt: "Coursera logo") %>
  <% end %>
  <ul>
     <li><b>Descripción:</b> <%= @course.description %></li>
     <li><b>Plataforma:</b> <%= @course.platform %></li>
     <li><b>Horas/Semana:</b> <%= @course.estimated_hours %></li>
     <li><b>Fecha de inicio:</b> <%= @course.start_date %></li>
     <li><b>Fecha de fin:</b> <%= @course.end_date %></li>   
  </ul>
  <%= link_to("Editar", edit_course_path(@course), :class => "button radius") %>

  <h4>Horas dedicadas/ Horas estimadas(esta semana):</h4>
  <div class="progress large-10 success large-offset-1 round">
    <span class="meter" style="width: <%= @percent_per_week %>%"></span>
  </div>

  <h4>Tareas:</h4>

    <div class="large-12 colums custom-table responsive">
      <div class="pricing-table">
      <ul class="inline-list">
        <li class="bullet-item large-1 small-1 colums" width="200"><b>Tarea</b></li>
          <li class="bullet-item large-2 small-1 colums"><b>Descripción</b></li>
          <li class="bullet-item large-1 small-1 colums"><b>Tipo</b></li>
          <li class="bullet-item large-1 small-1 colums" width="150"><b>Tiempo dedicado</b></li>
          <li class="bullet-item large-2 small-1 colums" width="150"><b>Deadline</b></li>
          
      </ul>

      <% @course.tasks.each do |task| %>
      <div class="pricing-table">
        <ul class="inline-list">
          <li class="bullet-item large-1 small-1 colums"><%= task.name %></li>
            <li class="description large-2 small-1 colums" width="150"><%= task.description %></li>
            <li class="bullet-item large-1 small-1 colums" width="150"><%= task.task_type %></li>
            <li id="hours<%= task.id %>" class="bullet-item large-1 small-1 colums" width="150" data-hours="<%= task.separateTime[0] %>" data-minutes="<%= task.separateTime[1] %>"><%= task.separateTime[0] %>h <%= task.separateTime[1] %>m</li>
            <li class="bullet-item large-2 small-1 colums" width="150"><%= task.deadline %></li>
            <% if task.minutes_dedicated == 0 %>
            <li class="bullet-item has-tip large-1 small-1 colums" data-tooltip aria-haspopup="true" title="Eliminar">

              <%= link_to(course_task_path(@course, task), :class => "button radius tiny", method: 'delete', data:{confirm: "Estás seguro?"}) do %>
              <i class="fi-trash"></i>
              <% end %>
            </li>
            <% end %>
            <li class="bullet-item large-1 small-1 colums time-input-button has-tip" data-tooltip aria-haspopup="true" title="Añadir tiempo de trabajo"><a href="#" class="button radius tiny"><i class="fi-wrench"></i></a></li>
            <li data-input="<%= task.id %>" class="bullet-item large-1 small-1 colums pomodoro-button has-tip" data-tooltip aria-haspopup="true" title="Comenzar pomodoro" ><a href="#" class="button radius tiny"><i class="fi-clock"></i></a></li>

        </ul>
            <!-- Añadir tiempo dedicado-->
          <div class="row time-input" style="display:none">
        
            <div class="large-2 columns">
              <label>Horas
                <input id="hoursInput<%= task.id %>" type="number" name="quantity" min="0" max="24" value="0" placeholder="Horas" />
              </label>
            </div>
            <div class="large-2 columns left">
              <label>Minutos
                <input id="minutesInput<%= task.id %>" type="number" name="quantity" min="0" max="60" value="0" placeholder="Minutos" />
              </label>
            </div>  
            <div class="large-2 columns">
              <label for="pomodoro_time<%= task.id %>">Fecha</label>
              <input class="large-2 colums hasDatepicker" id="pomodoro_time<%= task.id %>" type="text" value="<%= Date.current %>">
            </div>
             <div data-input="<%= task.id %>" class="bullet-item large-1 small-1 colums time-input-button time-input-button-plus has-tip" data-tooltip aria-haspopup="true" title="Añadir tiempo de trabajo"><a data-input="<%= task.id %>" href="#" class="button radius tiny"><i data-input="<%= task.id %>" class="fi-plus"></i></a></div>
          </div>
          <!-- Popup pomodoro -->
          <div class="row pomodoro-div" style="display:none">
            <div class="large-4 columns">    
            <div class="clock" style="margin:2em;"></div>
            <div class="message"></div>
            </div>



            <div class="large-4 columns left">
              <div class="range-slider" data-slider data-options="start: 60; end: 3599;">
                <span class="range-slider-handle" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span>
                <input type="hidden">
              </div>
            </div>


            <div class="large-5 columns large-offset-1 left">
            <a href="#" class="button success radius medium has-tip" data-tooltip aria-haspopup="true" title="Comenzar pomodoro"><i class="fi-play"></i></a>
            <a href="#" class="button alert radius medium has-tip" data-tooltip aria-haspopup="true" title="Detener pomodoro" style="display:none"><i class="fi-stop"></i></a>
            <a href="#" class="button info radius medium has-tip" data-tooltip aria-haspopup="true" title="Pausar pomodoro" style="display:none"><i class="fi-pause"></i></a>

            <a href="#" class="button check radius medium has-tip" data-tooltip aria-haspopup="true" title="Pausar pomodoro" style="display:none"><i class="fi-check"></i></a>
            </div>
          </div>
      </div>

      <% end %>
      </div>
    </div>

  <%= link_to("Nueva tarea", new_course_task_path(@course), :class => "button radius") %>
  
</div>