<div class="large-10 columns">
  <h3><%= @course.name %></h3>
  
  <ul>
     <li><b>Descripci칩n:</b> <%= @course.description %></li>
     <li><b>Plataforma:</b> <%= @course.platform %></li>
     <li><b>Horas/Semana:</b> <%= @course.estimated_hours %></li>
     <li><b>Fecha de inicio:</b> <%= @course.start_date %></li>
     <li><b>Fecha de fin:</b> <%= @course.end_date %></li>   
  </ul>
  <%= link_to("Editar", edit_course_path(@course), :class => "button radius") %>
  <h4>Tareas:</h4>

    <div class="large-12 colums custom-table responsive">
      <div class="pricing-table">
      <ul class="inline-list">
        <li class="bullet-item large-1 small-1 colums" width="200"><b>Tarea</b></li>
          <li class="bullet-item large-2 small-1 colums"><b>Descripci칩n</b></li>
          <li class="bullet-item large-1 small-1 colums"><b>Tipo</b></li>
          <li class="bullet-item large-2 small-1 colums" width="150"><b>Deadline</b></li>
          
      </ul>
      

      <% @course.tasks.each do |task| %>
      <div class="pricing-table">
        <ul class="inline-list">
          <li class="bullet-item large-1 small-1 colums"><%= task.name %></li>
            <li class="description large-2 small-1 colums" width="150"><%= task.description %></li>
            <li class="bullet-item large-1 small-1 colums" width="150"><%= task.task_type %></li>
            <li class="bullet-item large-2 small-1 colums" width="150"><%= task.deadline %></li>
            <li class="bullet-item large-2 small-1 colums"><%= link_to("Borrar", course_task_path(@course, task), :class => "button radius tiny alert", method: 'delete', data:{confirm: "Est치s seguro?"}) %></li>
            <li class="bullet-item large-2 small-1 colums time-input-button"><a href="#" class="button radius tiny">A침adir tiempo empleado</a></li>
            <li class="bullet-item large-2 small-1 colums"><a href="" class="button radius tiny">Comenzar pomodoro</a></li>


        </ul>

            <div class="row time-input" style="display:none">
        
            <div class="large-2 columns">
              <label>Horas
                <input type="number" name="quantity" min="0" max="24" value="0" placeholder="Horas" />
              </label>
            </div>
            <div class="large-2 columns left">
              <label>Minutos
                <input type="number" name="quantity" min="0" max="60" value="45" placeholder="Minutos" />
              </label>
            </div>
          </div>  

      </div>

      <% end %>
      </div>
    </div>

  <%= link_to("Nueva tarea", new_course_task_path(@course), :class => "button radius") %>
  
</div>