<div class="large-10 columns">
  <h3><%= @course.name %></h3>
  
  <ul>
     <li><b>Descripción:</b> <%= @course.description %></li>
     <li><b>Plataforma:</b> <%= @course.platform %></li>
     <li><b>Horas/Semana:</b> <%= @course.estimated_hours %></li>
     <li><b>Fecha de inicio:</b> <%= @course.start_date %></li>
     <li><b>Fecha de fin:</b> <%= @course.end_date %></li>   
  </ul>
  <%= link_to("Editar", edit_course_path(@course), :class => "button radius") %>
  <h4>Tareas:</h4>

    <div class="large-12 colums custom-table responsive">
      <div class="pricing-table">
      <ul class="inline-list">
        <li class="bullet-item large-1 small-1 colums" width="200"><b>Tarea</b></li>
          <li class="bullet-item large-2 small-1 colums"><b>Descripción</b></li>
          <li class="bullet-item large-1 small-1 colums"><b>Tipo</b></li>
          <li class="bullet-item large-1 small-1 colums" width="150"><b>Tiempo dedicado</b></li>
          <li class="bullet-item large-2 small-1 colums" width="150"><b>Deadline</b></li>
          
      </ul>

      <% @course.tasks.each do |task| %>
      <div class="pricing-table">
        <ul class="inline-list">
          <li class="bullet-item large-1 small-1 colums"><%= task.name %></li>
            <li class="description large-2 small-1 colums" width="150"><%= task.description %></li>
            <li class="bullet-item large-1 small-1 colums" width="150"><%= task.task_type %></li>
            <li id="hours<%= task.id %>" class="bullet-item large-1 small-1 colums" width="150" data-hours="<%= task.separateTime[0] %>" data-minutes="<%= task.separateTime[1] %>"><%= task.separateTime[0] %>h <%= task.separateTime[1] %>m</li>
            <li class="bullet-item large-2 small-1 colums" width="150"><%= task.deadline %></li>
            <li class="bullet-item has-tip large-1 small-1 colums" data-tooltip aria-haspopup="true" title="Eliminar">

              <%= link_to(course_task_path(@course, task), :class => "button radius tiny", method: 'delete', data:{confirm: "Estás seguro?"}) do %>
              <i class="fi-trash"></i>
              <% end %>
            </li>
            <li class="bullet-item large-1 small-1 colums time-input-button has-tip" data-tooltip aria-haspopup="true" title="Añadir tiempo de trabajo"><a href="#" class="button radius tiny"><i class="fi-plus"></i></a></li>
            <li class="bullet-item large-1 small-1 colums has-tip" data-tooltip aria-haspopup="true" title="Comenzar pomodoro" ><a href="#" class="button radius tiny"><i class="fi-wrench"></i></a></li>

        </ul>

            <div class="row time-input" style="display:none">
        
            <div class="large-2 columns">
              <label>Horas
                <input id="hoursInput<%= task.id %>" type="number" name="quantity" min="0" max="24" value="0" placeholder="Horas" />
              </label>
            </div>
            <div class="large-2 columns left">
              <label>Minutos
                <input id="minutesInput<%= task.id %>" type="number" name="quantity" min="0" max="60" value="0" placeholder="Minutos" />
              </label>
          </div>  
           <div data-input="<%= task.id %>" class="bullet-item large-1 small-1 colums time-input-button time-input-button-plus has-tip" data-tooltip aria-haspopup="true" title="Añadir tiempo de trabajo"><a data-input="<%= task.id %>" href="#" class="button radius tiny"><i data-input="<%= task.id %>" class="fi-plus"></i></a></div>
            </div>
      </div>

      <% end %>
      </div>
    </div>

  <%= link_to("Nueva tarea", new_course_task_path(@course), :class => "button radius") %>
  
</div>